#top-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: black;
    font-size: 2px;
}

#top-header img {
    height: 40px;
    color: white; 

}
#top-header p {
    margin: 0 10px;
    color: white;
    font-size: 10px;
}


form {
    display: flex;
    flex: 1;
}

form select {  
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    background-color: #e4dddd;
    color: #605c5c;
}



form input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-left: none;
    outline: none;
}

form button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 3px 3px 0;
    background-color: orange;
    cursor: pointer;
}

.language-select {
    display: flex;
    align-items: center;
    gap: 3px;
}

.language-select .flag {
    width: 30px; 
    height: auto;
}

.language-select select {
    background-color: black;
    color: white;
    border: none;
}


.account {
    font-size: 15px;
    color: white;
}

.returns {
    font-size: 15px;
    color: white;
}

#second-header nav {
    display: flex;
    height: 19px;
    gap: 20px;
    padding: 10px;
    background-color:#232f3e ;

    
}
 nav a {
    color: white;
    text-decoration-line: none;
    /* padding: 7px 2px 5px 2px; */
    
}
nav a:hover{
    border: 1px solid white;
    
}

